Repository hyter99/AI_22-23_L1, pull requests merged in 2022-11, with the labels that each got.

#57 56 db change stockpricehistory table to companystockpricehistory
  prisma/migrations/20221109221401_create_company_price_history_table/migration.sql
  prisma/migrations/20221111162928_buyoffer_selloffer_missing_relationships/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Labels: database

#50 42 be adjusting endpoints
  .editorconfig
  docs/Endpoints.md
  src/backend/modules/auth/auth.service.ts
  src/backend/modules/profile/profile.controller.ts
  src/backend/modules/profile/profile.service.ts
  src/backend/modules/stock/dto/get-stocks.query.ts
  src/backend/modules/stock/stock.service.ts
Labels: backend

#59 51 fe create stock details view
  package-lock.json
  package.json
  src/backend/modules/stock/stock.service.ts
  src/frontend/src/hooks/useFetch.ts
  src/frontend/src/views/root/routes/AuthenticatedApp.component.tsx
  src/frontend/src/views/stock-details/stock-details.component.tsx
  src/frontend/src/views/stock-details/stock-details.module.scss
Labels: backend, frontend
