Repository hyter99/AI_22-23_L1, pull requests merged in 2022-10, with the labels that each got.

#2 all: add & configure vite js for frontend
  nest-cli.json
  package-lock.json
  package.json
  src/backend/main.ts
  src/backend/modules/app.controller.spec.ts
  src/backend/modules/app.controller.ts
  src/backend/modules/app.module.ts
  src/backend/modules/app.service.ts
  src/frontend/index.html
  src/frontend/public/vite.svg
  src/frontend/src/App.css
  src/frontend/src/App.tsx
  src/frontend/src/assets/react.svg
  src/frontend/src/index.css
  src/frontend/src/main.tsx
  src/frontend/src/vite-env.d.ts
  tsconfig.build.json
  tsconfig.json
  tsconfig.vite.json
  vite.config.ts
Labels: enhancement

#3 Add Vite JS to project
  nest-cli.json
  package-lock.json
  package.json
  src/backend/main.ts
  src/backend/modules/app.controller.spec.ts
  src/backend/modules/app.controller.ts
  src/backend/modules/app.module.ts
  src/backend/modules/app.service.ts
  src/frontend/index.html
  src/frontend/public/vite.svg
  src/frontend/src/App.css
  src/frontend/src/App.tsx
  src/frontend/src/assets/react.svg
  src/frontend/src/index.css
  src/frontend/src/main.tsx
  src/frontend/src/vite-env.d.ts
  tsconfig.build.json
  tsconfig.json
  tsconfig.vite.json
  vite.config.ts
Labels: enhancement

#7 4 be add prisma
  .env.example
  .gitignore
  package-lock.json
  package.json
  prisma/migrations/20221011184058_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/backend/modules/database/prisma.service.ts
  tsconfig.json
  tsconfig.vite.json
Labels: enhancement, backend

#18 12 be add register mechanism
  package-lock.json
  package.json
  src/backend/decorators/match.decorator.ts
  src/backend/decorators/unique.decorator.ts
  src/backend/main.ts
  src/backend/modules/app.controller.spec.ts
  src/backend/modules/app.controller.ts
  src/backend/modules/app.module.ts
  src/backend/modules/app.service.ts
  src/backend/modules/auth/auth.controller.ts
  src/backend/modules/auth/auth.module.ts
  src/backend/modules/auth/auth.service.ts
  src/backend/modules/auth/dto/register.dto.ts
Labels: backend

#24 13 do create docker composeyml file
  .dockerignore
  .env.example
  Dockerfile
  compose.yml
  package-lock.json
  package.json
Labels: enhancement

#32 14 all configure eslint prettier
  .eslintrc.js
  package-lock.json
  package.json
  src/backend/main.ts
  src/backend/modules/app.controller.spec.ts
  src/backend/modules/app.controller.ts
  src/backend/modules/app.module.ts
  src/backend/modules/app.service.ts
  src/backend/modules/auth/auth.controller.ts
  src/backend/modules/auth/auth.module.ts
  src/backend/modules/auth/auth.service.ts
  src/backend/modules/auth/dto/register.dto.ts
  src/backend/modules/database/prisma.module.ts
  tsconfig.json
Labels: enhancement, backend

#34 33 be add serve static files module
  package-lock.json
  package.json
  src/backend/modules/app.module.ts
Labels: backend

#36 added login mechanism
  .env.example
  compose.yml
  package-lock.json
  package.json
  src/backend/modules/auth/auth.controller.ts
  src/backend/modules/auth/auth.module.ts
  src/backend/modules/auth/auth.service.ts
  src/backend/modules/auth/dto/login.dto.ts
  src/backend/modules/auth/guards/jwt.guard.ts
  src/backend/modules/auth/guards/local.guard.ts
  src/backend/modules/auth/strategies/jwt.strategy.ts
  src/backend/modules/auth/strategies/local.strategy.ts
Labels: backend

#45 Add logo svgs to project folder
  src/frontend/src/assets/svg/logo-with-line.svg
  src/frontend/src/assets/svg/logo.svg
Labels: frontend
