Repository hyter99/AI_22-23_L1, pull requests merged in 2022-12, with the labels that each got.

#73 case insesitive company name search
  src/backend/modules/company/company.service.ts
  src/backend/modules/company/dto/get-companies.query.ts
  src/backend/modules/profile/profile.service.ts
  src/backend/modules/stock/stock.service.ts
Labels: enhancement, backend

#99 98 be bugfixes for transaction algorithm
  src/backend/modules/company/company.service.ts
  src/backend/modules/transaction/transaction.service.ts
  src/frontend/src/views/stock-details/stock-details.component.tsx
Labels: backend

#103 102 be fix transaction algorithm concurency problem
  src/backend/modules/company/company.service.ts
  src/backend/modules/profile/profile.service.ts
  src/backend/modules/transaction/transaction.service.ts
Labels: backend

#104 91 be change offerstatus to enum
  prisma/migrations/20221215201817_offer_status_add_enum/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/backend/modules/company/company.service.ts
  src/backend/modules/offer/dto/create-buy-offer.dto.ts
  src/backend/modules/offer/dto/create-sell-offer.dto.ts
  src/backend/modules/profile/dto/getUserBuyOffer.query.ts
  src/backend/modules/profile/dto/getUserSellOffer.query.ts
  src/backend/modules/profile/profile.service.ts
  src/backend/modules/transaction/transaction.service.ts
Labels: backend, database
